<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <!-- Connexion principale -->
    <add name="DefaultConnection" 
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=BanqueCompteDepot;Trusted_Connection=True;MultipleActiveResultSets=true" 
         providerName="System.Data.SqlClient" />
         
    <!-- Connexion pour production -->
    <add name="ProductionConnection" 
         connectionString="Server=localhost;Database=BanqueCompteDepot;User Id=banque_user;Password=banque_pass;MultipleActiveResultSets=true" 
         providerName="System.Data.SqlClient" />
         
    <!-- Connexion pour tests -->
    <add name="TestConnection" 
         connectionString="Server=(localdb)\MSSQLLocalDB;Database=BanqueCompteDepotTest;Trusted_Connection=True;MultipleActiveResultSets=true" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!-- Configuration métier -->
    <add key="TauxInteretDefaut" value="2.5" />
    <add key="DureeDefautEnMois" value="12" />
    <add key="FraisOperationDefaut" value="2.00" />
    <add key="AutoCalculerInterets" value="true" />
    
    <!-- Limites de retrait -->
    <add key="PourcentageLimiteMensuelle" value="0.10" />
    <add key="PourcentageLimiteAnnuelle" value="0.50" />
    <add key="MontantMaximumRetrait" value="50000.00" />
    <add key="ActiverLimites" value="true" />
    
    <!-- Configuration WCF -->
    <add key="WcfHttpPort" value="8081" />
    <add key="WcfTcpPort" value="8082" />
    <add key="WcfServiceName" value="CompteDepot" />
    <add key="WcfMaxMessageSize" value="1048576" />
    
    <!-- Logging -->
    <add key="LogLevel" value="Information" />
    <add key="LogToFile" value="true" />
    <add key="LogFilePath" value="logs\comptedepot.log" />
    <add key="LogMaxFileSize" value="10MB" />
    
    <!-- Sécurité -->
    <add key="EnableSecurity" value="false" />
    <add key="RequireHttps" value="false" />
    <add key="AllowedClients" value="*" />
  </appSettings>

  <system.serviceModel>
    <services>
      <service name="CompteDepot.Service.CompteDepotService" 
               behaviorConfiguration="CompteDepotServiceBehavior">
        
        <!-- Endpoint HTTP/SOAP -->
        <endpoint address=""
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpBinding_CompteDepot"
                  contract="CompteDepot.Service.ICompteDepotService" />
                  
        <!-- Endpoint TCP/NET -->
        <endpoint address=""
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpBinding_CompteDepot"
                  contract="CompteDepot.Service.ICompteDepotService" />
                  
        <!-- Endpoint pour métadonnées -->
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081/CompteDepot" />
            <add baseAddress="net.tcp://localhost:8082/CompteDepot" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_CompteDepot"
                 maxReceivedMessageSize="1048576"
                 maxBufferSize="1048576"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="1048576" 
                       maxStringContentLength="1048576" />
          <security mode="None" />
        </binding>
      </basicHttpBinding>
      
      <netTcpBinding>
        <binding name="NetTcpBinding_CompteDepot"
                 maxReceivedMessageSize="1048576"
                 maxBufferSize="1048576"
                 sendTimeout="00:10:00"
                 receiveTimeout="00:10:00">
          <readerQuotas maxArrayLength="1048576" 
                       maxStringContentLength="1048576" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CompteDepotServiceBehavior">
          <!-- Métadonnées -->
          <serviceMetadata httpGetEnabled="true" 
                          httpGetUrl="http://localhost:8081/CompteDepot/mex" />
          
          <!-- Debug -->
          <serviceDebug includeExceptionDetailInFaults="true" />
          
          <!-- Throttling -->
          <serviceThrottling maxConcurrentCalls="100"
                           maxConcurrentSessions="100"
                           maxConcurrentInstances="100" />
        </behavior>
      </serviceBehaviors>
      
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
                              multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" 
              switchValue="Information, ActivityTracing"
              propagateActivity="true">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    
    <sharedListeners>
      <add name="xml"
           type="System.Diagnostics.XmlWriterTraceListener"
           initializeData="logs\wcf_traces.svclog" />
    </sharedListeners>
  </system.diagnostics>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" 
                         publicKeyToken="b03f5f7f11d50a3a" 
                         culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>